quadratic-equation-solver/src/main/resources/xsd/responce.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
      <xs:element name="response">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="formula" type="xs:string"/>
                <xs:element name="D" type="xs:double"/>
                <xs:element name="x1" type="xs:double"/>
                <xs:element name="x2" type="xs:double" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
